@charset "UTF-8";
/*comments*/

/*[class *= "container"]{
	background-color: #ccc;
	min-height: 50px;
	margin-bottom:4px;
}
[class *= "row"]{
	background-color: orange;
	min-height: 40px;
	margin-bottom:4px;
	padding:0.5rem;
}

[class *= "col"]{
	background-color: green;
	min-height: 30px;
	margin-bottom:4px;
	border:1px solid black;
	padding:0.5rem;
}*/
.fa {
  padding: 0.3rem;
  font-size: .9rem;
  width: 1.4rem;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50%;
}
footer .fa {
  background: #00A4D5;
  color: white;
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 1.6rem;
  margin: 5px 5px;
}

.bg-custom{
	background:#00A4D5!important;
	border:0px!important;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.carousel img{
	min-height: 150px;
	object-fit:cover;
}

.card img{
	height: 150px;
	object-fit:cover;
}